/* Begin Styling File */


body {
	font-family: helvetica, arial, sans-serif;
}

h1 {
	color: #ff9100;
	text-align: center;
	font-family: "Lucida Handwriting", cursive, Sans-serif;
}


#left-container {
	left: 0px;
	background-color: gray;
	width: 15%;
	top: 0px;
	position: absolute;
	height: 100%;
	padding: 10px;
}

#right-container {
	right: 0px;
	background-color: gray;
	width: 15%;
	top: 0px;
	position: absolute;
	height: 100%;
	padding: 10px;
}

.plant-holder {
	position: relative;
	height: 13%;
	left: -10px;
}

.plant {
	position: relative;
	max-width: 150%;
	max-height: 150%;
	z-index: 2;
}

div img {
	width: 100px;
}

h1:hover {
	color:aqua;
	font-family: helvetica, arial, sans-serif;
}



.jar-walls {
	height: 80%;
	width: 60%;
	background: #d1e1df;
	border-radius: 1rem;
	position: absolute;
	bottom: 0.5%;
	left: 20%;
	opacity: 0.5;
	z-index: 1;
}

.jar-top {
	width: 50%;
	height: 5%;
	background: #d1e1df;
	position: absolute;
	bottom: 80.5%;
	left: 25%;
	opacity: 0.7;
	z-index: 1;
}

.jar-bottom {
	width: 50%;
	height: 1%;
	background: #d1e1df;
	position: absolute;
	bottom: 0%;
	left: 25%;
	opacity: 0.7;
}

.dirt {
	width: 60%;
	height: 5%;
	background: #3a241d;
	position: absolute;
	border-radius: 0 0 1rem 20px;
	bottom: 1%;
	left: 20%;
	opacity: 0.7;
	z-index: -1;
}

.jar-glossy-long {
	width: 3%;
	height: 20%;
	border-radius: 2rem;
	background: #ddfbff;
	position: absolute;
	bottom: 20%;
	left: 5%;
}

.jar-glossy-short {
	width: 3%;
	height: 5%;
	border-radius: 2rem;
	background: #ddfbff;
	position: absolute;
	bottom: 45%;
	left: 5%;
}
